@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
  color: rgb(3, 0, 0);
  background-color: #1d1c53;
  background-image: url("./img/897.jpg");
  background-position: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(167, 187, 231);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(142, 212, 209);
}

h1{
  text-align: center;
  color: white;
  
}
h2{
  margin-bottom: 10px;
  color: white;
}
p{
  margin: 10px 0;
}
input{
  box-sizing: border-box;
}
button{
  background-color: rgb(1, 42, 129);
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: 0.3s;
}
button:hover{
  opacity: 0.8;
  background-color: rgb(10, 107, 197);
}
.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.todo {
  background-color: aliceblue;
  box-shadow: 0 0 10px black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complete{
  background-color: rgb(1, 42, 129);
}
.complete:hover{
  background-color: rgb(34, 192, 118);
}
.remove {
  background-color: rgb(1, 42, 129);
}
.remove:hover{
  background-color: rgb(255, 0, 0);
}
.todo-form{
  padding-bottom: 1.5rem;
}
input[type="text"], 
select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
  background-color: aliceblue;
}
.filter, 
.search{
  border-bottom: 1px solid #5555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter-options{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.filter-options div{
  flex: 1 1 0;
}
